@import url("./color.css");
@import url("./font.css");

.composeContainer{
  background-color: var(--soft-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 30rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 2px 2px 15px 2px var(--box-shadow-color),
                      -2px -0px 15px 2px var(--box-shadow-color);
  z-index: 99;
}

.composeHeader{
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 0.5rem;
  margin: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--header-color);
  user-select: none;
}

.navbtn{
  display: flex;
}

.composeHeader button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  color: var(--primary-color);
  background-color: transparent;
  border: none;
}

.close{
  border-top-right-radius: 8px;
}

.composeHeader button:hover{
 background-color: var(--sidebar-active);
}

.title {
  display: flex;
  align-items: center;
}

.composetitle {
  margin: 0;
}

.newContainer{
  display: flex;
  flex-direction: column;
  padding: 0.75rem 2.5rem 0.5rem 1rem;
  gap: 1rem;
}

.destination, .subject{
  position: relative;
  height: auto; 
  border: none;
}

.destination input, .subject input{
  position: relative;
  border-bottom: 2px solid var(--border-color);
  background-color:transparent ;
  color: var(--primary-color);
  padding-bottom: 0.25rem;
  outline: none;
  font-size: medium;
  width: 100%;
}

.destination input:focus, .subject input:focus {
  border-bottom: 2px solid var(--github-blue);
}

.messageToSend {
  flex: 0.7;
}

.mail_message{
  overflow-x: hidden;
  position: relative;
  background-color: transparent;
  color: var(--primary-color);
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--border-color);
  font-size: medium;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}

.mail_message:focus{
  border-bottom: 2px solid var(--github-blue);
}

.composeBottom{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 2.5rem;
}

.compose-submit{
  margin-top: 1.5rem;
  min-width: 8rem;
  margin-bottom: 2rem;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--github-green);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.compose-submit:hover{
  background: #2ea043;
}
