@import url("./nunito.css");

:root {
  --primary-color: white;
  --border-color: #373a3a;
  --icon-color: #c5cad6;
  --header-color: #010409;
  --soft-color: #0d1117;
  --sidebar-active: #1a1f24;
  --hover-color: #21262c;
  --content-color: #010409;
  --scroll-bg: #333;
  --scroll-handle: #555;
  --handle-hover: #777;
  --github-green: #238636;
  --shadow-color: #353b43;
}

.light-mode {
  --primary-color: black;
  --border-color: #d8dee4;
  --icon-color: black;
  --header-color: #f6f8fa;
  --soft-color: white;
  --sidebar-active: #f0f2f4;
  --hover-color: #f0f0f0;
  --content-color: #f6f8fa;
  --scroll-bg: #cac8c8;
  --scroll-handle: #9b9595;
  --handle-hover: #a59f9f;
  --github-green: #238636;
  --shadow-color: #0000003d;
}

::-webkit-scrollbar {
  width: 10px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scroll-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-handle); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--handle-hover);
}

/* Dark mode scrollbar */
/* For webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scroll-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-handle);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--handle-hover); /* Set the color of the scrollbar handle on hover */
}

* {
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  font-family: "nunito", sans-serif;
  font-weight: 600;
}

.iframe{
  position: absolute;
  width: 80vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--content-color);
  color: var(--primary-color);
  visibility: hidden;
}

.mail {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.gui_icon {
  width: 30%;
  height: 30%;
}

/* Header */
.header__left img {
  object-fit: contain;
  height: 80px;
  margin-left: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  color: var(--primary-color);
  background-color: var(--header-color);
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left span {
  padding: 10px;
  cursor: pointer;
}

.header__middle {
  display: flex;
  flex: 0.7;
  align-items: center;
  background-color: var(--sidebar-active);
  color: white;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}

.material-icons {
  color: var(--icon-color);
}

.header__middle input {
  border: none;
  width: 100%;
  padding: 0.6rem;
  outline: none;
  font-size: medium;
  background-color: transparent;
}

.header__middle button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
}

.header__right button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
}

.header__right button:hover, .header__right .clicked{
  border-radius: 8px;
  background-color: var(--sidebar-active);
}

.emailList__list {
  width: 100%;
  background-color: var(--content-color);
  color: var(--primary-color);
  overflow-y: auto;
}

.header__right {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  padding-right: 2.5rem;
}

.header__right span {
  padding: 10px;
  cursor: pointer;
}

.user {
  padding-right: 2rem;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  width: 90%;
  min-height: 1.75rem;
  padding: 0.5rem;
  align-items: center;
  font-size: medium;
}

.user:hover{
  border-radius: 8px;
  background-color: var(--sidebar-active);
}

/* Add tooltip style */
.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%); 
  background-color: var(--soft-color);
  /* box-shadow: var(--shadow-color) 0px 1px 4px; */
  color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
  visibility: hidden; 
  white-space: nowrap;
}

/* Show tooltip on hover */
.dropbtn:hover .tooltip {
  visibility: visible;
}

/* Restyle the dropdown button */
.dropbtn {
  position: relative;
  cursor: pointer;
}

.dropbtn .clicked{
  border-radius: 8px;
  background-color: var(--sidebar-active);
}

/* Style the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--content-color);
  min-width: 140px;
  border: 1px solid var(--border-color);
  /* box-shadow: var(--shadow-color) 0px 1px 4px; */
  border-radius: 8px;
  z-index: 1;
}

/* Style the dropdown header */
.dropdown-header {
  background-color: var(--content-color);
  color: var(--primary-color);
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

/* Style the dropdown links */
.dropdown-content a {
  color: var(--primary-color);
  padding: 10px;
  text-decoration: none;
  display: block;
  position: relative;
}

.dropdown-content a:hover {
  background-color: var(--hover-color);
}

/* Style the checkmark icon */
.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.checkmark .material-icons {
  font-weight: 600;
  color: var(--github-green); /* Change the color as desired */
}

/* logout button */
.logout {
  position: relative; 
  cursor: pointer;
}

.logout:hover .tooltip{
  visibility: visible;
}

/* Sidebar */
.sidebar {
  flex: 0.3;
  max-width: 20rem;
  padding: 8px;
  background-color: var(--soft-color);
  border-right: 1px solid var(--border-color);
}

.sidebar__compose {
  margin-top: 15px;
  margin-left: 25px;
  min-width: 10rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
  color: white;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--github-green);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.sidebar__compose:hover {
  background-color: #28a745;
}

.sidebar__compose span {
  font-size: 25px;
  margin-right: 5px;
  color: white;
}

.sidebar__compose span:hover {
  /* font-weight: bold; */
  transition-delay: 2s;
}

.compose {
  color: white;
}

.sidebarOption {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  /* border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; */
  cursor: pointer;
  color: #818181;
}

.sidebarOption .material-icons {
  padding: 5px;
}

.sidebarOption h3 {
  flex: 1;
  margin-left: 15px;
  font-size: 16px;
  text-transform: capitalize;
  /* font-weight: 400; */
}

/* .sidebarOption:hover,
.sidebarOption:hover h3,
.sidebarOption:hover .material-icons,
.sidebarOption__active,
.sidebarOption__active h3,
.sidebarOption__active .material-icons { */
/* background-color: #202020; */
/* background-color: #21262c; */
/* font-weight: 800; */
/* } */

.sidebarOption:hover {
  background-color: var(--hover-color);
  border-radius: 8px;
  /* border-left: 5px solid #1f6feb; */
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.sidebarOption__active {
  background-color: var(--sidebar-active);
  border-radius: 8px;
  border-left: 5px solid #1f6feb;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.sidebar__footer {
  display: flex;
  justify-content: center;
}

.sidebar__footerIcons .material-icons {
  margin: 7px;
  cursor: pointer;
}

/* main body */
.main__body {
  display: flex;
  height: 100vh;
}

body {
  height: 100vh;
  overflow-y: hidden;
}


/* Dark mode checkboxes */
input[type="checkbox"] {
  appearance: none; /* Remove default appearance */
  -webkit-appearance: none; /* Remove default appearance for WebKit-based browsers */
  -moz-appearance: none; /* Remove default appearance for Firefox */
  width: 15px; /* Set width of the checkbox */
  height: 15px; /* Set height of the checkbox */
  background-color: #555; /* Set background color of the checkbox */
  border-radius: 2px; /* Set border radius for rounded corners */
  /* border: 1px solid #555; Set border */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add pointer cursor */
  position: relative; /* Position for pseudo-element */
}

/* Checked icon */
input[type="checkbox"]::before {
  content: "\2713"; /* Unicode character for checkmark */
  font-size: 20px; /* Adjust size of the checkmark */
  color: #000; /* Color of the checkmark */
  position: absolute; /* Position within the checkbox */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the checkmark */
  opacity: 0; /* Initially hidden */
}

/* Dark mode checkbox label */
input[type="checkbox"] + label {
  color: #fff; /* Set text color */
  margin-left: 5px; /* Add some space between checkbox and label */
}

/* Dark mode checkbox when checked */
input[type="checkbox"]:checked {
  background-color: #227aff; /* Change background color when checked */
}

/* Dark mode checkbox when checked and hovered */
input[type="checkbox"]:checked:hover {
  background-color: #227aff; /* Change background color when checked and hovered */
}

/* Show checked icon when checkbox is checked */
input[type="checkbox"]:checked::before {
  opacity: 1; /* Show the checkmark */
}

/* email list */
.emailList {
  flex: 1;
  overflow: scroll;
  background-color: var(--content-color);
  min-height: 100vh;
}

.emailList__settings {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #373a3a;
  /* background-color: #111111; */
  background-color: #010409;
  z-index: 999;
  padding: 8px;
}

.emailList__settingsLeft {
  display: flex;
  align-items: center;
}

.emailList__settings .material-icons {
  margin: 5px 5px 5px 0;
  cursor: pointer;
}

.section {
  display: flex;
  align-items: center;
  border-bottom-width: 2px;
  padding: 15px;
  min-width: 200px;
  cursor: pointer;
  color: grey;
  border-width: 0;
}

.emailList__sections {
  position: sticky;
  top: 0;
  display: flex;
  background-color: var(--primary-color);
  /* border-bottom: 1px solid whitesmoke; */
  z-index: 999;
}

.checked-star {
  color: gold;
}

.section__selected {
  background-color: whitesmoke;
  border-width: 3px;
  color: red;
  border-bottom: 3px solid red;
}

.section__selected .material-icons {
  color: red;
}

.section:hover {
  background-color: whitesmoke;
  border-width: 3px;
}

.section h4 {
  font-size: 14px;
  margin-left: 15px;
}

.emailRow__options {
  display: flex;
  align-items: center;
}

.emailRow__options .material-icons,
input {
  margin: 5px;
}

.emailRow {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid var(--border-color);
  color: var(--primary-color);
  cursor: pointer;
  z-index: 999;
  padding-left: 8px;
}

.emailRow:hover {
  background-color: var(--hover-color);
  border-bottom: 1px solid var(--soft-color);
}

.emailRow__message {
  display: flex;
  flex: 0.8;
  align-items: center;
  font-size: 13px;
  color: var(--primary-color);
}

.emailRow__message h4 {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}

.emailRow__title {
  padding-left: 1rem;
  font-size: 13px;
  flex: 0.3;
  color: var(--primary-color);
}

.emailRow__time {
  padding-right: 15px;
  font-size: 10px;
  font-weight: bold;
}

.emailRow__description {
  font-weight: 400;
  color: gray;
}
